/* Navigation section */
#navbar {
    flex-direction: column;
}
#navbar li {
    margin: 5px;
}
#navbar ul {
    margin: 8px;
}
#navbar ul li a {
    font-size: 1rem;
    padding: 0px 2px;
}
/* Home Section */
#home {
    height: 400px;
    padding: 3px 3px;
    width: 100%;
}
#home::before {
    height: 520px;
    width: 100%;
}
#home p {
    font-size: 1rem;
}
/* services Section */
#services {
    flex-direction: column;
}
#services .box {
    padding: 1px 20px;
    margin: 2px 2px;
}
#services p {
    font-size: 1.1rem;
}
/* clients section */
#clients {
    flex-wrap: wrap;
}
.client-item {
    padding: 10px 10px;
}
#clients img {
    /* width: 69px; */
    height: 50px;
    padding:2px 2px;
    margin: 5px 5px;
}
#client-section {
    height: 350px;
    position: relative;
}
.form-group {
    width: 80%;
}
/* utility classes */
.h-primary {
    font-size: 2rem;
}
.btn {
    font-size: 1rem;
    padding: 3px 5px;
}
.h-secondary {
    font-size: 1.5rem;
}
